.wrapper {
    overflow: hidden;
    width: 100%;
}


/* --- trick here with hide over flow from container-all that have all cards */

.container {
    width: 1265px;

    overflow: hidden;
    text-align: center;

}


/* product cards inside it  */

.container-all {

    margin: auto;
    display: flex;
    transition: all 1s ease 1s;

    /* ------ 135px  well be hidden from products container-all  beacuse his parent container w=1265   --- */
    width: 1400px;
    position: relative;
    transform: translate3d(0px, 0px, 0px);

    /* justify-content: space-between; */


}


/* product cards  */

.container-all>div {
    margin: 6px;
    gap: 4px;
    width: 400px;
    height: 200px;



    background-color: aqua;

}



/* when click from initial state translete -122px  {page true} */


.transition1 {

    transform: translate3d(-140px, 0px, 0px);
}



/* ---- when click right icon again go to initial state-- */
.transition2 {
    transform: translate3d(0px, 0px, 0px);

}



.transition3 {
    transform: translate3d(-900px, 0px, 0px);

}


